@import './animation';
@import './clearfix';
@import './size';

@mixin button-size($button-padding-x, $button-padding-y, $font-size-base, $border-radius) {
  border-radius: $border-radius;
  font-size: $font-size-base;
  padding: $button-padding-y $button-padding-x $button-padding-y $button-padding-x;
}

@mixin button-style (
  $background-color,
  $color,
  $border-color: lighten($color, 10%),
  $hover-background-color: lighten($background-color, 7.5%),
  $hover-border-color: lighten($border-color, 10%),
  $hover-color: $color
) {
  background-color: $background-color;
  color: $color;
  &:hover {
    background-color: $hover-background-color;
    color: $hover-color;
  }
  &:focus {
    background-color: $hover-background-color;
    color: $hover-color;
  }
  &[disabled] {
    background-color: $background-color;
    border-color: $border-color;
    color: $color;
  }
}